# Configuración de Variables de Entorno — Challenge Alura Agente

# Llave de API para Google Gemini (Requerido para embeddings vectoriales de FAISS)
GOOGLE_API_KEY=tu_api_key_de_google_aqui

# Llave de API para Groq (Requerido para el agente conversacional Qwen)
GROQ_API_KEY=tu_api_key_de_groq_aqui
